<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>846619810567-c0i0phke579r8u722krlek9f1mgman0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846619810567-c0i0phke579r8u722krlek9f1mgman0a</string>
	<key>API_KEY</key>
	<string>AIzaSyAMuIxu7ZGWKZ-dhxUfFfadwK5ZHOZ1kjs</string>
	<key>GCM_SENDER_ID</key>
	<string>846619810567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echotwin.ios.EchoTwin</string>
	<key>PROJECT_ID</key>
	<string>echotwin-a8d76</string>
	<key>STORAGE_BUCKET</key>
	<string>echotwin-a8d76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846619810567:ios:a3bafa5c95d222e5</string>
	<key>DATABASE_URL</key>
	<string>https://echotwin-a8d76.firebaseio.com</string>
</dict>
</plist>